* {
    font-family: Calibri;
}
body {
    position: relative;
}
.container {
    width: 680px;
    height: 580px;
    background-color: black;
    margin: 0 auto;
    padding-top: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

.stage {
    width: 448px;
    height: 496px;
    background-color: black;
    margin: 0 auto;
    position: relative;
    font-size: 0;
}

.stage .block {
    height: 16px;
    width: 16px;
    display: inline-block;
}

.border {
    background-color: lightblue;
}

.pellet {
    background-color: yellow;
    -webkit-clip-path: circle(15% at 50% 50%);
    clip-path: circle(15% at 50% 50%);
}

.super-pellet {
    background-color: gold;
}

.ghost {
    background-color: white;
}

.fruit {
    background-color: red;
}

.portal {
    background-color: black;
}

.empty {
    background-color: black;
}

.sprite {
    position: absolute;
    left: 0;
    top: 0;
}

.pacman {
    display: inline-block;
}

.pacman .top.open {
    transform: rotate(-30deg);
}

.pacman .bottom {
    transform: rotate(180deg);
}

.pacman .bottom.open {
    transform: rotate(210deg);
}

.pacman .semi {
    height: 8px;
    width: 16px;
    background-color: gold;
    display: block;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    transition: 0.1s;
}

.pacman.up {
    transform: rotate(270deg);
}

.pacman.right {
    transform: rotate(0deg);
}

.pacman.down {
    transform: rotate(90deg);
}

.pacman.left {
    transform: rotate(180deg);
}

.log {
    width: 200px;
    max-height: 280px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    position: absolute;
    overflow: auto;
    border-radius: 5px;
    top: 0;
}

.log-left {
    left: 0;
}

.log-left.bottom {
    top: 300px;
}

.log-right {
    right: 0;

}

.log.log-right p {
    margin-left: 50px;
}

.log h3 {
    text-align: center;
}

.log p {
    margin-left: 40px;
    font-size: 1.1em;
}

audio {
    display: none;
}
